<main>
    <div class="container">
        <h1 class="form__title">Contacto</h1>
        <article class="form__description">
            <p>¿Te interesa nuestro trabajo? ¿Quieres conocernos mejor? Utiliza este formulario para ponerte en contacto con nosotras.</p>
            <p class="form__description__small">Todos los campos marcados con <span class="asterisk">*</span> son obligatorios.</p>
        </article>
    </div>

    
    <div class="container">
        <form action="https://dev.adalab.es/api/form" method="POST">
            <fieldset class="form">
                <label class="input__label" for="fullName">
                    Nombre Completo
                    <span class="asterisk">*</span>
                </label>
                <input id="fullName" type="text" name="fullName" placeholder="Nombre...">
        
                <label class="input__label" for="email">
                    Email
                    <span class="asterisk">*</span>
                </label>
                <input id="email" type="email" name="email" placeholder="nombre.apellidos@mail.com">
        
                <label class="input__label" for="phone">
                    Teléfono
                </label>
                <input id="phone" type="number" name="phone" placeholder="Ej: 123456789">
        
                <label class="input__label" for="comments">
                    Mensaje
                    <span class="asterisk">*</span>
                </label>
                <textarea id="comments" name="comments" rows="4" cols="10"></textarea>
        
                <input class="button" type="submit">
        
            </fieldset>
        </form>
    </div>

</main>