<main class="main__contact">
    <div class="container">
        <h1 class="form__title">Contacto</h1>
        <article class="form__description">
            <p class="form__description-big">¿Te interesa nuestro trabajo? ¿Quieres conocernos mejor? Utiliza este formulario para ponerte en contacto con nosotras.</p>
            <p class="form__description-small">Todos los campos marcados con <span class="asterisk">*</span> son obligatorios.</p>
        </article>
    </div>

    
    <div class="container">
        <form action="https://dev.adalab.es/api/form" method="POST" class="form">
            <label for="fullName">
                Nombre completo
                <span class="asterisk">*</span>
            </label>
            <input class="box" id="fullName" type="text" name="fullName" placeholder="Nombre..." required>
                
            <fieldset class="form-grid">
                <label class="label-email" for="email">
                    Email
                    <span class="asterisk">*</span>
                </label>
                <input class="box box-email" id="email" type="email" name="email" placeholder="nombre.apellidos@mail.com" required>
                
        
                <label class="label-phone" for="phone">
                    Teléfono
                </label>
                <input class="box box-phone input__box-phone" id="phone" type="number" name="phone" placeholder="Ej: 123456789">
                
            </fieldset>
            
            <label for="comments">
                Mensaje
                <span class="asterisk">*</span>
            </label>
            <textarea class="box__big" id="comments" name="comments" rows="6" cols="10" placeholder="¿Qué necesitas?" required></textarea>
                
        
            <input class="button" type="submit">
        
        </form>
    </div>

</main>