<header class="header">
  <h1 class="header-title">Nombre del grupo</h1>
  <nav class="header-nav">
    <ul class="header-ul">
      <li class="header-nav-li"><a class="header-li-a" href="./index.html#team">equipo</a></li>
      <li class="header-nav-li"><a a class="header-li-a" href="./index.html#who">quienes somos</a></li>
      <!--href sería otro index.html que nos lleva a contacto  -->
      <li class="header-nav-li"><a a class="header-li-a" href="">contacto</a></li>
    </ul>
  </nav>
</header>