<section id="team" class="section-team">
      <article class="team">
        <div class="container">
          <h2 class="team-title">Equipo</h2>
          <p class="p">Somos cuatro aventureras que empezamos una nueva vida. Aparentemente lejos de nuestra meta pero con gran ilusión, nos pusimos en marcha. Hemos tenido jornadas plácidas y otras que nos han puesto a prueba, en las que hemos crecido y aprendido, pero siempre manteniendo nuestro objetivo en mente. La X marca el lugar, así que hacia allí nos dirigimos.</p>
        </div>
      </article>

      <section class="strengths-weaknesses">
        <div class="rectangle"></div>
        <div class="container">
          <article class="strengths">
            <h3 class="title">Fortalezas</h3>
            <p class="p">Cada una de nosotras venimos desde puntos muy distintos del mapa, con experiencias muy dispares que a la vez nos enriquecen y pueden sumar de forma positiva a este mundo que estamos descubriendo. Tenemos ganas de aprender, de explorar lo desconocido, tenemos tesón y estamos dispuestas a lograr nuestra meta.</p>
          </article>
          <article class="weaknesses">
            <h3 class="title">Debilidades</h3>
            <p class="p">Todos podemos pensar en la poca experiencia que tenemos, pero eso no nos desanima porque la suplimos con nuestras ganas de sumergirnos en el mundo de la programación. Si viajar es la forma más intensa de aprender, nosotras lo estamos      cumpliendo 100%</p>
          </article>
        </div>
      </section>

    </section>