<section id="team" class="section-team">
      <article class="team">
        <h2 class="team-title">EQUIPO</h2>
        <article class="team-description">
          <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris,
            vel convallis metus eleifend
            in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum
            neque et aliquam
            varius.</p>
          <p class="p">Vivamus feugiat eu sem sed eleifend. Morbi efficitur lorem eget justo sodales feugiat.
            Vestibulum tristique sed ante
            semper elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus.</p>
        </article>

      </article>

      <section class="strengths-weaknesses">
        <div class="rectangle"></div>
        <article class="strengths">
          <h3 class="title">Fortalezas</h3>
          <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris,
            vel convallis metus eleifend
            in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum
            neque et aliquam
            varius.</p>
        </article>
        <article class="weaknesses">
          <h3 class="title">Debilidades</h3>
          <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris,
            vel convallis metus eleifend
            in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum
            neque et aliquam
            varius.</p>
        </article>
      </section>

    </section>