<section id="who">
  <h2 class="who">Quiénes somos</h2>
  <div class="container">
    <article class="presentation">
      <div class="border"><img class="profile-picture" src="./assets/images/Laura.jpg"
          alt="Foto de la programadora Laura Moreno" title="Laura Moreno"></div>
      <div class="info-programmers">
        <h3 class="name">Laura Moreno</h3>
        <p class="p">Mi vida transcurría entre archivos, Patrimonio Histórico y museos, pero sucesivas crisis del sector me han hecho salir a explorar nuevos campos. Emocionada por reinventarme una vez más y empaparme de lo que puede ofrecerme este sector, me    gustan los retos y estoy dispuesta a darlo todo.
        </p>
        <nav>
          <ul class="menu-socials">
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
          </ul>
        </nav>
      </div>
    </article>
    <article class="presentation">
      <div class="right">
        <div class="border"><img class="profile-picture" src="./assets/images/Marina.jpg"
            alt="Foto de la programadora Marina Caro" title="Marina_Caro"></div>
        <div class="info-programmers" id="info-marina">
          <h3 class="name" id="marina"> Marina Caro </h3>
          <p class="p" id="p-marina">Tras años de estudio y formación en el campo de la Biología, cambio de especialidad para dar un giro a mi vida      profesional a través de la Programación Web. Entusiasmada con este nuevo mundo, intento absorber toda la información que puedo y aplicarla a mis proyectos.
          </p>
          <nav id="socials-marina">
            <ul class="menu-socials">
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li class="punto"><span>·</span></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              <li class="punto"><span>·</span></li>
              <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
              <li class="punto"><span>·</span></li>
              <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </article>
    <article class="presentation">
      <div class="border"><img class="profile-picture" src="./assets/images/Raquel.png"
          alt="Foto de la programadora Raquel González" title="Raquel_González"></div>
      <div class="info-programmers">
        <h3 class="name">Raquel González</h3>
        <p class="p">Empecé como trabajadora social, viajé por el mundo y acabé aterrizando en la programación web. Con ganas de abrirme camino en este nuevo sector y crecer profesionalmente. Soy una persona resolutiva y perseverante que no se rinde a la primera. ¡Al turrón!
        </p>
        <nav>
          <ul class="menu-socials">
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
          </ul>
        </nav>
      </div>
    </article>
    <article class="presentation">
      <div class="right">
        <div class="border"><img class="profile-picture" src="./assets/images/titika2.jpg"
            alt="Foto de la programadora Titika Apostolaki" title="Titika_Apostolaki"></div>
        <div class="info-programmers" id="info-titika">
          <h3 class="name" id="titika"> Titika Apostolaki</h3>
          <p class="p" id="p-Titika">Los idiomas y el mar son mi pasión y después de bucear en libros y traducciones de varios países, decidí lanzarme a investigar los lenguajes de programación. Las aventuras nuevas siempre abruman pero ¡con ganas se supera todo!
          </p>
          <nav id="socials-titika">
            <ul class="menu-socials">
              <li><a href="https://twitter.com/ttkapostolaki"><i class="fa-brands fa-twitter"></i></a></li>
              <li class="punto"><span>·</span></li>
              <li><a href="https://www.linkedin.com/in/titika-apostolaki-590a35261/"><i class="fa-brands fa-linkedin"></i></a></li>
              <li class="punto"><span>·</span></li>
              <li><a href="https://github.com/ttkapostol"><i class="fa-brands fa-github-alt"></i></a></li>
              <li class="punto"><span>·</span></li>
              <li><a href="mailto:ttkapostolaki@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </article>
  </div>
  </section>