<section id="who">
  <h2 class="who"> QUIÉNES SOMOS</h2>
  <article class="presentation">
    <div class="border"><img class="profile-picture" src="./assets/images/cat.jpg"
        alt="Foto de la programadora Laura Moreno" title="Laura Moreno"></div>
    <div class="info-programmers">
      <h3 class="name">Laura Moreno</h3>
      <p class="p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores laboriosam hic quidem
        doloremque
        culpa optio aliquam nobis repudiandae fuga voluptates, ab impedit, nulla at! Officia totam officiis
        dolores
        quod laboriosam?
      </p>
      <nav>
        <ul class="menu-socials">
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li class="punto"><span>·</span></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li class="punto"><span>·</span></li>
          <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
          <li class="punto"><span>·</span></li>
          <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="presentation">
    <div class="right">
      <div class="border"><img class="profile-picture" src="./assets/images/Marina.jpg"
          alt="Foto de la programadora Marina Caro" title="Marina_Caro"></div>
      <div class="info-programmers" id="info-marina">
        <h3 class="name" id="marina"> Marina Caro </h3>
        <p class="p" id="p-marina">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores laboriosam
          hic
          quidem doloremque culpa optio aliquam nobis repudiandae fuga voluptates, ab impedit, nulla at!
          Officia
          totam officiis dolores quod laboriosam?
        </p>
        <nav id="socials-marina">
          <ul class="menu-socials">
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </article>
  <article class="presentation">
    <div class="border"><img class="profile-picture" src="./assets/images/Raquel.png"
        alt="Foto de la programadora Raquel González" title="Raquel_González"></div>
    <div class="info-programmers">
      <h3 class="name">Raquel González</h3>
      <p class="p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores laboriosam hic quidem
        doloremque culpa optio aliquam nobis repudiandae fuga voluptates, ab impedit, nulla at! Officia totam
        officiis dolores quod laboriosam?
      </p>
      <nav>
        <ul class="menu-socials">
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li class="punto"><span>·</span></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li class="punto"><span>·</span></li>
          <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
          <li class="punto"><span>·</span></li>
          <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="presentation">
    <div class="right">
      <div class="border"><img class="profile-picture" src="./assets/images/titika2.jpg"
          alt="Foto de la programadora Titika Apostolaki" title="Titika_Apostolaki"></div>
      <div class="info-programmers" id="info-titika">
        <h3 class="name" id="titika"> Titika Apostolaki</h3>
        <p class="p" id="p-Titika">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores laboriosam
          hic quidem doloremque culpa optio aliquam nobis repudiandae fuga voluptates, ab impedit, nulla at!
          Officia totam officiis dolores quod laboriosam?
        </p>
        <nav id="socials-titika">
          <ul class="menu-socials">
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
            <li class="punto"><span>·</span></li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </article>