.form__title{
    font-size: 2.4rem;
    color: #099D8D;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    margin: 30px auto 15px auto;
    line-height: 1.88;
    text-align: center;
}
.form__description{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #54585a;
    line-height: 1.5;
    
    &__big{
    font-size: 1.6rem;
    margin-bottom: 15px;
    }
    
    &__small{
    font-size: 1.2rem;
    margin-bottom: 58px;
    }
}

.asterisk{
    color: #14d9c4;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input {
    font-family: "Open Sans", sans-serif;
    color: #54585a;
    line-height: normal;
    font-size: 1.4rem;

    &__label{
        width: 100%;
        margin-bottom: 7px;
    }

    &__box{
        height: 45px;
        width:98%;
        margin-bottom: 13px;
        border: 1.8px solid #b8b8b9;
        text-indent: 15px;

        &::placeholder{
            color: #b8b8b9;
        }
        
        &__big{
            width: 98%;
            margin-bottom: 30px; 
            border: 1.8px solid #b8b8b9;
            
            &::placeholder {
                color: #b8b8b9;
            }
        }
    }
}

.button{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    background-color: #099D8D;
    border: 1px solid #099D8D;
    border-radius: 4px;
    height: 45px;
    margin-bottom: 60px;
}


@media all and (min-width:768px){
    .main__contact .container{
        margin: 0 163px;
    }

    .button{
        width: 45%;
        
    }
    .form :last-child{
        align-items: flex-end;
    }
}

@media all and (min-width:1200px) {
    .main__contact .container {
            margin: 0 300px;
    }

    
    
}        
