.form__title{
    font-size: 2.4rem;
    color: #099D8D;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    margin: 30px auto 15px auto;
    line-height: 1.88;
    text-align: center;
}
.form__description{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #54585a;
    line-height: 1.5;
    
    &-big{
        font-size: 1.6rem;
        margin: 0 20px 15px 20px;
    }
    
    &-small{
        font-size: 1.2rem;
        margin-bottom: 55px;
    }
}

.asterisk{
    color: #14d9c4;
}

.form{
    font-family: "Open Sans", sans-serif;
    color: #54585a;
    line-height: normal;
    font-size: 1.4rem;
}

.box{
    height: 45px;
    width:98%;
    margin-top: 8px;
    margin-bottom: 13px;
    border: 1.8px solid #b8b8b9;
    text-indent: 15px;

    &::placeholder{
        color: #b8b8b9;
    }
    
    &__big{
        font-family: 'Open Sans', sans-serif;
        width: 98%;
        margin-bottom: 30px; 
        margin-top: 8px;
        border: 1.8px solid #b8b8b9;
        text-indent: 15px;
        
        &::placeholder {
            color: #b8b8b9;
        }
    }
}

.button{
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    background-color: #099D8D;
    border: 1px solid #099D8D;
    border-radius: 4px;
    margin-bottom: 60px;
}


@media all and (min-width:768px){
    .main__contact .container{
        margin: 0 163px;
    }

    .button{
        width: 45%;
        position: relative;
        left: 55%;   
    }
}

@media all and (min-width:1200px) {
    .main__contact .container {
        margin: 0 300px;
    }

    .form-grid{
        width: 98%;
        display: grid;
        grid-template-columns: 60% 10% 30%;
        grid-template-rows: 25px 70px;
        align-items: center;
    }
 
    .label-email{
        grid-row: 1/2;
        grid-column: 1/2; 
    }
    .box-email {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .label-phone{
        grid-row: 1/2;
        grid-column: 3/4;
    }
     .box-phone{
        grid-row: 2/3;
        grid-column: 3/4;
    }
}    
