.header {
  background-color: #099D8D;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  text-align: center; 
  opacity: 0.95;
  position: fixed;
  z-index: 2; 
}

.header-title {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 16px;
  color: white;
}

.header-nav{
  background-color: #14D9C4;
 
}
.header-ul {
  width: 100vw;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-li-a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

@media all and (min-width: 768px) {
  .header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-title {
    margin-left: 45px;
    padding: 0;
  }

  .header-nav{
    background-color: #099D8D;
    margin-right: 45px;
  }
  .header-ul {
    justify-content: space-between;
    width: 300px;
  }
}

@media all and(min-width:1200px){
  .header-title{
    margin-left: 142px;
  }
  .header-nav{
    margin-right: 142px; 
  }
}