.hero {
  padding-top: 0px;
   position: relative;
}
.hero-img{
  max-width: 100%;
  margin: 0 auto;
}
.hero-text{
  background-color: white;
  font-weight: 600;
  height: 80px;
  width: 290px;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  font-size: 18px;
  padding: 14px 15px 16px 15px;
  font-family:"Open Sans",sans-serif;
}

@media all and (min-width: 768px) {

.hero-text {
  margin: 0 46px 0 281px
}
}