#team{
    scroll-margin-top: 110px;
}
.team {
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
}

.team-title {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #14d9c4;
    font-family: "Rubik", sans-serif;
    line-height: 1.88;
    text-align: center;
    margin-bottom: 15px;
}

.p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: #54585a;
    line-height: 1.5;
}

.rectangle {
    width: 30px;
    height: 30px;
    margin: -45px auto 45px auto;
    transform: rotate(45deg);
    background-color: white;
}

.strengths-weaknesses {
    background-color: rgba(184, 184, 185, 0.4);
    padding: 30px 0 45px 0;
}

.strengths {
    margin: 0 0 30px 0;
}

.title {
    font-size: 2.2rem;
    color: #099d8d;
    font-family: "Rubik", sans-serif;
    text-align: center;
    line-height: 2.05;
}

/*.box {
    width: 200px;
    height: 200px;
    margin: 10px auto 20px auto;
    background-color: rgba(0, 0, 0, 0.08);
}*/

@media (min-width: 768px) {
    #team {
        scroll-margin-top: 80px;
    }
    .team {
        padding-bottom: 30px;
    }

    .team-title {
        color: #099d8d;
    }
    
    .strengths-weaknesses .container {
        display: flex;
    }

    .strengths-weaknesses .container>* {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 0;
    }
    
    .title {
        margin-bottom: 15px;
    }

    .strengths {
        margin-right: 22.5px;
    }

    .weaknesses {
        margin-left: 22.5px;
    }
}

@media (min-width: 1200px) {
    .team {
        padding-bottom: 60px;    
    }

    .team .p{
        max-width: 600px;
        margin: 0 auto;
    }

}