#who {
    scroll-margin-top: 110px;
}
.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto 5rem auto;
}

.who {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #099D8D;
    font-family: "Rubik", sans-serif;
    margin: 4.5rem auto 2.5rem auto;
    line-height: 1.88;
    text-align: center;
    
}

.border {
    width: 20rem;
    height: 20rem;
    margin: 1.5rem auto;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 0.4rem;
}

.profile-picture {
    margin: 5px auto;
    object-fit: cover;
    width: 19rem;
    height: 19rem;
    border-radius: 0.3rem;
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 4.5rem;
    margin-bottom: 1.5rem;
}

.menu-socials {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 3rem;
    width: 12.4rem;
    margin: 1.5rem auto;
}

.menu-socials4 {
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 3rem;
    width: 12.4rem;
    margin: 1.5rem auto;
}

.fa-brands {
    font-size: 2rem;
    line-height: 3rem;
    color: #099D8D
}

.fa-solid {
    font-size: 2rem;
    line-height: 3rem;
    color: #099D8D
}

.punto {
    font-size: 2rem;
    line-height: 3rem;
    color: #099D8D
}

@media screen and (min-width: 768px) {
    /*.body {
        margin: 0 auto;
    }*/

    #who{
        scroll-margin-top: 80px;
        }
    

    .presentation {
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        max-width: 768px;
        gap: 30px;
    }

    .border {
        margin: 0rem 1rem
    }

    .info-programmers .name, .info-programmers .p {
        text-align: left;
    }

    .presentation .p {
        max-width: 442px;
    }

    .menu-socials {
        margin: 1.5rem 0.5rem;
    }

    div.right {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
    }

    #info-marina,
    #marina,
    #p-marina {
        text-align: right;
    }

    #socials-marina {
        display: flex;
        justify-content: right;
    }

    #info-titika,
    #titika,
    #p-Titika {
        text-align: right;
    }

    #socials-titika {
        display: flex;
        justify-content: right;
    }
}

@media screen and (min-width: 1200px) {

    .presentation {
        max-width: 1400px;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        
    }

    .border {
        margin: 0rem 3rem;
    }

    .info-programmers .name, .info-programmers .p {
        text-align: left;
    }

    .menu-socials {
        margin: 1.5rem 0.5rem;
    }

    div.right {
        display: flex;
        flex-direction: row-reverse;
    }

    #info-marina,
    #marina,
    #p-marina {
        text-align: right;
    }

    #socials-marina {
        display: flex;
        justify-content: right;
    }

    #info-titika,
    #titika,
    #p-Titika {
        text-align: right;
    }

    #socials-titika {
        display: flex;
        justify-content: right;
    }
}